html {
  scroll-behavior: smooth;
  }

body {
  background: #EDF2EC;
  }
  
.shell {
	width: 1220px;
	margin: 0 auto;
  }
  
  /* Header */
  
  header {
    width: 100%;
    margin-bottom: 105px;
  }
  
  .header_box {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	}
  
  .head_logo {
	display: inline-flex;
	align-items: baseline;
	margin: 52px 35px 90px 0px;
	width: 79.17px;
	height: 21.04px;
  }
  
  .head_logo img {
	height: 20px;
	width: 19px;
  }
  
  h1 {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	}
  
  .link_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 50px;
	padding-bottom: 4px;
	margin-right: 0px;
	list-style-type: none;
  }
  
  .head_link {
	font-family: 'Inika';
	font-style: bold;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
	text-decoration: none;
  }
  
  .home {
	  font-weight: 700;
	  color: #E06733;
  }
  
  .head_link:hover, head_link:focus, head_link:active {
	  opacity: .75;
	  color: #26660c;
  }
  
  /* Welcome */
  
  .welcome_box {
	display: flex;
  justify-content: space-between;
	padding-bottom: 62px;
	gap: 221px;
  }
  
  .welcome img {
	width: 448.8px;
	height: 407.36px;
  }
  
  #intro_caption {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: #717171;
	margin-bottom: 44px;
  }
  
  .intro span {
	  color: #499A18;
  }
  
  .intro p {
	  font-family: 'Inter';
	  font-style: normal;
	  font-weight: 400;
	  font-size: 20px;
	  line-height: 35px;
	  color: #636060;
	  margin-bottom: 50px;
  }
  
  .button:hover {
	background-color: #d8eedf;
  }
  
  .button {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
	width: 158px;
	height: 44px;
	border: 2px solid #E06733;
	border-radius: 10px;
	background-color: transparent;
  cursor: pointer;
	}
  
  /* About */
  
  .about {
    background-color: #FFFFFF;
    height: 665px;
  }
  
  .about_box {
	display: flex;
  gap: 170px;
	padding: 93px 0px 94px;
	background-color: #FFFFFF;
  }
  
  #inf_caption {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
	margin: 68px 142px 40px 0px;
  }
  
  .about span {
	color: #E06733;
  }
  
  .about img {
	width: 464px;
	height: 479px;
  }
  
  .about p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #636060;
  }
  
  /* Service */
  
  .service {
  height: 1300px;
  }
  
  .services_content {
	display: flex;
	justify-content: center;
	gap: 142px;
	margin-bottom: 25px;
  }
  
  .button_row {
	display: flex;
	gap: 40px;
	padding-right: 17%;
	padding-top: 5%;
  }
  
  h2 {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
  }
  
  .service_button {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	width: 161px;
	height: 50px;
	border: 1px solid #E06733;
	border-radius: 5px;
	background-color: transparent;
	line-height: 26px;
	color: #E06733;
    cursor: pointer;
  }
  
  .service_button:hover {
	  background-color: #d8eedf;
  }
  
  .services_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 111px;
	}
  
  .service_item {
	border: 1px solid #E3E1D5;
	border-radius: 20px 20px;
    cursor: pointer;
	}
  
  h3 {
	width: 120px;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
	margin: auto;
  }
  
  .service_item p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #717171;
	margin-top: 13px;
	margin-bottom: 35px;
  }
  
  .service_item:hover {
	  transform: scale(1.1);
	  transition: 0.3s;
  }
  
  .service_item img {
	width: 329px;
	height: 350px;
	margin-bottom: 10px;
  }

/* Prices */

.prices {
  height: 560px;
  width: 100%;
  background-color: #FFFFFF;
}

.prices_container {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
}

.prices h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.price_variation {
  height: 280px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  margin-top: 60px;
}

.button_variation {
  display: flex;
  justify-content: space-between;
}

.prices_button {
  width: 250px;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  background: #EDF2EC;
  border-radius: 20px;
  border-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding: 13px 38px;
  margin-top: 32px;
}

.support {
  display: grid;
  justify-items: right;
  text-align: right;
}

.support span {
    color: #499A18;
}

.support h2 {
  margin-bottom: 44px;
}

.support button {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  margin-bottom: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.support button:hover {
  color: #000000;
}

.support_pic img {
  width: 152px;
  height: 174.99px;
  margin-bottom: 15px;
}

.emb_pic {
  width: 16px;
  height: 16px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 20px;
}

.emb_pic img{
  margin-bottom: 6px;
  margin-left: 0px;
}

/* Contacts */

.contacts {
  height: 550px;
 }
 
.contacts_container {
   display: flex;
}

.contacts_pic {
  width: 400px;
  height: 496.99px;
  margin-top: 7px;
  margin-right: 113px;
}

.contacts h2 {
  margin-right: 68px;
  margin-top: 15px;
}

.contacts button {
  height: 50px;
  width: 450px;
  gap: 150px;
  background: #D6E7D2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #717171;
  padding: 12px 33px 12px 18px;
  margin-top: 103px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

/* Footer */

footer {
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
  background-color: #FFFFFF;
}

footer p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
    color: #499A18;
}

footer img:hover {
  background-color: #8ccc64;
  border-radius: 50%;
}

.git_info {
  padding-top: 1.5%;
}

.git_info span {
  padding: 10px;
}

.rs-school {
 padding-top: 1.6%;
}

.social_media {
  padding-top: 2.9%;
}

.contacts .emb_pic {
  background:  #AEA1A1;
}

.contacts .emb_pic img {
  margin-bottom: 8px;
}
