@import url(./styles/normalize.css);

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background: #EDF2EC;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 668px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 330px;
  }
}

h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 52px;
  color: #499A18;
}

button {
  transition: 0.5s;
}

/* Header */

header {
  width: 100%;
}

.header-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 42px 2px;
}

.header-logo {
  display: inline-flex;
  align-items: baseline;
  padding: 0 0 3px;
}

.header-logo img {
  height: 20px;
  width: 19px;
}

.header-title {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 21px;
  color: #000000;
  padding-left: 2px;
  margin: 0px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2px;
  list-style-type: none;
}

.header-list-item {
  margin-left: 47px;
}

.header-link {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.home {
  font-weight: 700;
  color: #E06733;
}

.header-link:hover, .header-link:focus, .header_-ink:active {
  opacity: .75;
  color: #26660c;
}

.hamburger {
  display: none;
  position: relative;
  cursor: pointer;
  height: 38px;
  width: 38px;
  z-index: 3;
}

.hamburger_line {
  width: 100%;
  border: 1px solid #717171;
  margin-bottom: 6px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

@media (max-width: 1024px) {
  .header-box {
  padding: 34px 1px 42px 0px;
  }
  .header-logo {
    padding: 0 0 4px;
  }
}

@media (max-width: 480px) {
  .header-box {
    padding: 34px 2px 42px 0px;
  }
  .header-logo {
    padding: 0 0 9px;
  }
  .hamburger {
    display: inline-block;
  }
  .header-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #499A18;
    opacity: 90%;
    height: 100%;
    z-index: 3;
  }
  .header-list{
    display: block;
    padding: 80px 90px 0px 40px;
  }
  .header-list-item {
    margin: 0;
  }
  .header-link {
    color: #FFFFFF;
  }
  .header-link:hover{
    color: #E06733;
  }

  .header.open .header-nav {
    display: block;
  }
  .header.open .hamburger > .hamburger_line {
    display: none;
  }
  .header.open .hamburger:before {
    content: '';
    background-color: #E06733;
    position: absolute;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    margin-top: 15px;
  }
  .header.open .hamburger:after {
    content: '';
    background-color: #E06733;
    position: absolute;
    width: 100%;
    height: 2px;
    transform: rotate(-45deg);
    margin-top: 15px;
  }
  .header.open .overlay {
    display: block;
  }
}

/* Welcome */

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0 48px;
}

.welcome-container >* {
  flex-basis: 45%;
}

.introduction {
  padding-top: 37px;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 50px;
  color: #717171;
  margin-bottom: 44px;
}

.introduction span {
  color: #499A18;
}

.introduction p {
  max-width: 526px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 35px;
  color: #636060;
  margin-bottom: 48px;
}

.button {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.button:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .welcome-container {
    flex-direction: row-reverse;
    padding: 0 0 69px;
  }
  .introduction {
    flex-basis: 55%;
    padding-top: 28px;
  }
  h1 {
    font-size: 3.5rem;
    padding: 0;
    margin-bottom: 33px;
  }
  .introduction p {
    max-width: 341px;
    font-size: 1.6rem;
    line-height: 25px;
    padding: 0 0 0 4px;
    margin-bottom: 35px;
  }
  .welcome-image img {
    padding: 21px 0 0 24px;
    height: 273px;
    width: 274px;
  }
}

@media (max-width: 480px) {
  .welcome-container {
    padding: 0 0 24px;
  }
  .welcome-image {
    display: none;
  }
  .introduction {
    flex-basis: 100%;
    padding-top: 8px;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .introduction p {
    padding: 0;
    margin-bottom: 26px;
  }
  .button {
    width: 100px;
    height: 34px;
    font-size: 1.0rem;
  }
}

/* About */

.about {
  background-color: #FFFFFF;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0 94px;
}

.about-title {
  max-width: 463px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 52px;
  color: #499A18;
  margin: 70px 0px 38px;
}

.about span {
  color: #E06733;
}

.info p {
  max-width: 605px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 30px;
  color: #636060;
}

.about-image {
  padding: 3px 0 0 153px;
}

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    padding: 40px 0 95px;
  }
  .about-title {
    font-size: 3.5rem;
    line-height: 46px;
    text-align: center;
    padding: 0 0 0 102px;
    margin: 0 0 50px;
  }
  .info p {
    max-width: 668px;
    margin-bottom: 68px;
  }
  .about-image {
    padding: 0 0 0 209px;
  }
  .about-image img {
    height: 258px;
    width: 250px;
  }
}

@media (max-width: 480px) {
  .about-container {
    flex-direction: column;
    padding: 30px 0 27px 0;
  }
  .about-title {
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 33px;
    text-align: center;
    padding: 0 0 0 21px;
    margin: 0 0 13px;
  }
  .info p {
    font-size: 1.5rem;
    line-height: 25px;
    max-width: 330px;
    margin: 0;
  }
  .about-image {
    padding: 0px 0 0 90px;
  }
  .about-image img {
    height: 155px;
    width: 150px;
  }
}


/* Service */

.service-container {
  padding: 40px 0 64px;
}

.service-head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.service-buttons {
  display: flex;
  flex-wrap: wrap;
}

.service-title {
  width: 306px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 52px;
  color: #499A18;
  margin: 0 142px 0 0;
}

.service-button {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 26px;
  color: #E06733;
  text-align: center;
  margin: 29px 38px 0 0;
}

.service-button:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

.service-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px;
  margin-bottom: 55px;
}

.service-item img {
  width: 329px;
  height: 350px;
  margin-bottom: 10px;
}

h3 {
  width: 120px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 20px;
  color: #E06733;
  margin: auto;
}

.service-item p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 20px;
  text-align: center;
  color: #717171;
  margin-top: 13px;
  margin-bottom: 36px;
}

.service-item:hover {
  transform: scale(1.2);
  transition: 0.1s;
}

@media (max-width: 1024px) {
  .service-container {
    padding: 60px 0 32px;
  }
  .service-head {
    margin-bottom: 40px;
  }
  .service-title {
    font-size: 3.5rem;
    line-height: 46px;
    margin: 0 0 13px;
  }
  .service-item {
    margin: 0 0 38px;
  }
  .service-item img {
    max-width: 280px;
  }
  .service-item p {
    max-width: 201px;
    margin: 10px auto 18px;
  }
}

@media (max-width: 480px) {
  .service-container {
    padding: 30px 0 0;
  }
  .service-head {
    margin-bottom: 31px;
  }
  .service-title {
    font-size: 2.5rem;
    line-height: 33px;
    max-width: 187px;
    margin: 0 0 38px;
  }
  .service-button {
    width: 121px;
    height: 35px;
    font-size: 1.5rem;
    line-height: 20px;
    margin: 0 10px 9px 0;
  }
  .service-item {
    margin: 0 0 34px 24px;
  }
  .service-item:last-child {
    margin: 0 0 27px 24px;
  }
}

/* Prices */

.prices {
  width: 100%;
  background-color: #FFFFFF;
}

.prices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 38px 0 113px;
}

.prices h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 48px;
  color: #000000;
}

.prices-types {
  display: flex;
  flex-direction: column;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 40px 1px 40px;
  margin-top: 60px;
}

.type {
  display: flex;
  flex-direction: row;
}

.dropdown-button {
  width: 210px;
  display: inline-flex;
  justify-content: space-between;
  background: #EDF2EC;
  border-radius: 20px;
  border-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 20px;
  color: #000000;
  padding: 15px 40px 15px 0px;
  margin: 0 0 32px 0;
}

.type-title {
  padding: 0 0 0px 40px;
}

.ellips {
  width: 16px;
  height: 16px;
  background: #D9D9D9 url(./assets/icons/arrow.svg) no-repeat center;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 20px;
}

.ellips img{
  margin-bottom: 6px;
  margin-left: 5px;
}

.help-box {
  display: grid;
  justify-items: right;
  padding-top: 2px;

}

.help-box-title {
  max-width: 455px;
  text-align: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin-bottom: 40px;
}

.help-box span {
  color: #499A18;
}

.help-box button {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  margin-bottom: 30px;
}

.help-box button:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .prices-container {
    padding: 38px 0 80px;
  }
  .prices h2 {
    font-size: 3.5rem;
    line-height: 42px;
    padding: 2px 0 0 15px;
  }
  .prices-types {
    margin-top: 57px;
  }
  .help-box {
    padding-top: 102px;
  }
  .help-box-title {
    max-width: 296px;
    font-size: 2.5rem;
    line-height: 35px;
    margin-bottom: 28px;
  }
}

@media (max-width: 480px) {
  .prices-container {
    padding: 25px 0 10px 0;
    justify-content: center;
  }
  .prices h2 {
    font-size: 2.5rem;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }
  .prices-types {
    padding: 28px 21px 13px;
    margin-top: 37px;
}
  .dropdown-button {
    width: 180px;
    height: 49.72px;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 0 14px 0;
  }
  .type-title {
    height: 18px;
    padding: 0;
    margin: 16px 0 0 31px;
  }
  .ellips {
    margin: 19px 39px 0 0;
  }
  .help-box {
    padding-top: 20px;
    justify-items: center;
  }
  .help-box-title {
    max-width: 230px;
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 21px;
  }
  .help-box button {
    width: 121px;
    height: 35px;
    font-size: 1.5rem;
    line-height: 20px;
  }
  .help-box-img {
    display: none;
  }
}


/* Contacts */

.contacts-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 109px 0px;
}

.contacts-img {
  margin-top: 7px;
}

.contacts h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 52px;
  color: #499A18;
  text-align: right;
  padding: 13px 0 0 44px;
}

.contacts .dropdown-button {
  height: 24px;
  width: 397px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  letter-spacing: 0.05em;
  color: #717171;
  padding: 16px 33px 10px 20px;
  margin-top: 100px;
}

.contacts .ellips {
  background:  #AEA1A1 url(./assets/icons/arrow-white.svg) no-repeat center;
  margin: 2px 2px 0 0;
}

@media (max-width: 1024px) {
  .contacts-container{
    justify-content: center;
    padding: 40px 109px 0px;
  }
  .contacts-img {
    order: 4;
    padding: 50px 0 0 19px;
  }
  .contacts-img img{
    width: 200px;
    height: 248px;
  }
  .contacts h2 {
    padding: 0;
    margin-bottom: 98px;
  }
  .contacts .dropdown-button {
    margin: 0 0 194px;
  }
}

@media (max-width: 480px) {
  .contacts-container {
    padding: 25px 0 0;
  }
  .contacts h2 {
    font-size: 2.5rem;
    line-height: 33px;
    padding: 0 4px 0 0;
    margin-bottom: 81px;
  }
  .contacts .dropdown-button {
    width: 262px;
    padding: 15px 20px 10px 18px;
    margin: 0 0 126px;
  }
  .contacts-img {
    padding: 0 4px 0 0;
  }
  .contacts-img img{
    width: 100px;
    height: 124px;
  }
}

/* Footer */

footer {
  width: 100%;
  background-color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px 110px;
}

footer p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 50px;
  color: #000000;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  color: #499A18;
}

footer img:hover {
  background-color: #8ccc64;
  border-radius: 50%;
}

.github-info {
  display: flex;
}

.year {
  margin: 0 21px;
  padding-top: 12%;
}

.rs-school {
  padding-left: 40px;
}

.social-media-links{
  display: flex;
  list-style-type: none;
}

.social-media {
  padding-top: 9px;
}

.social-media a {
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 33px 0 0;
  }
  footer p {
    line-height: 24px;
  }
  .github-info {
    padding: 0 0 0 3px;
    margin-bottom: 16px;
  }
  .year {
    margin: 0 23px;
    padding-top: 12%;
  }
  .github-link {
    padding: 0 6px 0 0;
  }
  .rs-school {
    margin-bottom: 20px;
    padding: 0 4px 0 0;
  }
  .social-media {
    padding: 9px 23px 0 0;
  }
}
@media (max-width: 480px) {
  .footer-container {
    padding: 22px 0 0;
  }
  .rs-school {
    margin-bottom: 3px;
  }
  .social-media {
    padding: 9px 20px 0 0;
  }
  .year {
    margin: 0 23px;
    padding-top: 12%;
  }
}
