body {
  background: #EDF2EC;
}

/* Header */

.header_container {
  width: 1440px;
  margin: 0 auto;
}

.header_element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 0.1px;
  background: #EDF2EC;
  width: 1440px;
  height: 134px;
}

.head_logo {
  display: inline-flex;
  align-items: baseline;
  position: absolute;
  width: 79.17px;
  height: 21.04px;
  left: 111px;
  top: 40px;

}

.head_logo img {
  height: 20px;
  width: 19px;
}

.basic_nav {
position: absolute;
width: 1220px;
height: 50px;
left: 111px;
top: 42px;
}

.link_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 49px;
  padding-bottom: 4px;
  margin-right: 109px;
  list-style-type: none;
}

.head_link {
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  height: 100px;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.home {
    font-weight: 700;
    color: #E06733;
}

.head_link:hover, head_link:focus, head_link:active {
    opacity: .75;
    color: #26660c;
}

