body {
  background: #EDF2EC;
}

/* Header */

.header_container {
  width: 1220px;
  margin: 0 auto;
}

.header_element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 0.5px;
  background: #EDF2EC;
}

.head_logo {
  display: inline-flex;
  align-items: baseline;
  margin: 52px 35px 62px 111px;
  width: 79.17px;
  height: 21.04px;
}

.head_logo img {
  height: 20px;
  width: 19px;
}

h1 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  }

.link_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 50px;
  padding-bottom: 4px;
  margin-right: 109px;
  list-style-type: none;
}

.head_link {
  font-family: 'Inika';
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.home {
    font-weight: 700;
    color: #E06733;
}

.head_link:hover, head_link:focus, head_link:active {
    opacity: .75;
    color: #26660c;
}

/* Welcome */

.welcome{
  display: flex;
  justify-content: space-between;
  padding: 62px 109px;
  border: solid 0.5px;
  gap: 221px;
}

.welcome img {
  width: 448.8px;
  height: 407.36px;
}

#intro_caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 44px;
}

.intro span {
    color: #499A18;
}

.intro p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 50px;
}

.button:hover {
  background-color: #E06733;
}

.button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: transparent;
  }





